<div class="container">
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title">New Company</h4>
                          <p class="card-category">New Company is being added</p>
                      </div>
                      <div class="card-body">
                          <form class="example-form" (ngSubmit)="onclickAdd()" #f="ngForm">
                              <div class="rows">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Enter CompanyName" ngModel #name="ngModel" required
                                          [(ngModel)]="company_name" name="company_name">
                                      <mat-error *ngIf="name?.hasError('required')">
                                          CompanyName is Required
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="rows">
                                   <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Enter CompanyUrl" ngModel #url="ngModel" required
                                          [(ngModel)]="company_url" name="company_url">
                                      <mat-error *ngIf="url?.hasError('required')">
                                          CompanyUrl is Required
                                      </mat-error>
                                  </mat-form-field>
                              </div>

                              <br>
                              <div class="rows">
                                  <button mat-raised-button type="submit" [disabled]="!f.valid" class="btn">Add
                                      Company </button>
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  <button mat-raised-button color="warn" (click)="onclickCancle()">CANCEL</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
