<div class="container">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Add Internship Detail</h4>
                            <p class="card-category">Internship Details are being Added</p>
                        </div>
                        <div class="card-body">
                            <form class="example-form" (ngSubmit)="onclickAdd()" #f="ngForm">

                               
                                <br>
                                <div class="rows">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Enter StudentId" ngModel #studentid="ngModel" [(ngModel)]="student_id" required
                                            name="student_id">
                                            <mat-error *ngIf="studentid?.hasError('required')">
                                                StudentId is required.
                                          </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="rows">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Enter Ctc Amount" ngModel #ctcamo="ngModel" [(ngModel)]="ctc" required
                                            name="ctc">
                                            <mat-error *ngIf="ctcamo?.hasError('required')">
                                                Ctc Amount is required.
                                          </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="rows">
                                
                                    <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Select IntershipTypeName" (selectionChange)="selectChangeHandler()" required #internshiptypeid="ngModel"
                                            name="internshiptypeid" [(ngModel)]="internship_type_id">
                                            <mat-option *ngFor="let item of internshiptype_arr" [value]="item.internship_type_id" class="example-full-width1">
                                                {{item.internship_type_name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="internshiptypeid?.hasError('required')">
                                            InternshipTypeName is required.
                                      </mat-error>
                                    </mat-form-field>
                                
                                </div>
                    
                                <br>

                                <label id="example-radio-group-label">Select your choice</label>
                                <br>
                                <mat-radio-group (change)="onChoiceChange()" aria-labelledby="example-radio-group-label" class="example-radio-group" name="Choice" [(ngModel)]="choice">
                                  <mat-radio-button color="primary" value="On-campus" >
                                    On-campus
                                  </mat-radio-button>
                                  &nbsp;&nbsp;&nbsp;
                                  <mat-radio-button color="primary" value="Off-campus" >
                                    Off-campus
                                  </mat-radio-button>
                                </mat-radio-group>
        
        
        
          <div *ngIf="choice=='On-campus'">
            <br><br>
           
            <div class="rows">
                                
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Select facultyName" (selectionChange)="selectChangeHandler()" required #facultyid="ngModel"
                        name="jobprofileid" [(ngModel)]="faculty_id">
                        <mat-option *ngFor="let item of faculty_arr" [value]="item.faculty_id" class="example-full-width1">
                            {{item.faculty_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="facultyid.hasError('required')">
                                    facultyName Must be selected
                                  </mat-error>
                </mat-form-field>
            
            </div>
        
          </div>
        
          <div *ngIf="choice=='Off-campus'">
            <br><br>
              
            <div class="rows">
                                
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Select CompanyName" (selectionChange)="selectChangeHandler()" required #companyid="ngModel"
                        name="companyid" [(ngModel)]="company_id">
                        <mat-option *ngFor="let item of company_arr" [value]="item.company_id" class="example-full-width1">
                            {{item.company_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="companyid.hasError('required')">
                        CompanyName Must be selected
                      </mat-error>
                </mat-form-field>
            
            </div>

            <div class="rows">
                                
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Select LocationName" (selectionChange)="selectChangeHandler()" required #locationid="ngModel"
                        name="locationid" [(ngModel)]="location_id">
                        <mat-option *ngFor="let item of location_arr" [value]="item.location_id" class="example-full-width1">
                            {{item.location_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="locationid?.hasError('required')">
                        LocationName Must be selected
                      </mat-error>
                </mat-form-field>
            
            </div>

          </div>



                                <div class="rows">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="date" placeholder="Start Date" ngModel #startdate="ngModel"
                                            [(ngModel)]="start_date" name="start_date" required> 
                                            <mat-error *ngIf="startdate?.hasError('required')">
                                                StartDate is required.
                                          </mat-error>
                                    </mat-form-field>
                                </div>
                                <br>

                                <div class="rows">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Enter Stipend" ngModel #stipen="ngModel" required
                                            [(ngModel)]="stipend" name="stipend">
                                            <mat-error *ngIf="stipen?.hasError('required')">
                                                    Stipend Amount is required.
                                              </mat-error>
                                    </mat-form-field>
                                    
                                </div>
                               
                                <br>

                                <div class="rows">
                                
                                    <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Select JobProfileName" (selectionChange)="selectChangeHandler()" required #jobprofileid="ngModel"
                                            name="jobprofileid" [(ngModel)]="job_profile_id">
                                            <mat-option *ngFor="let item of jobprofile_arr" [value]="item.job_profile_id" class="example-full-width1">
                                                {{item.job_profile_name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="jobprofileid?.hasError('required')">
                                            JobProfileName is required.
                                      </mat-error>
                                    </mat-form-field>
                                
                                </div>

                              

                                <div class="rows">
                                    <button mat-raised-button type="submit" [disabled]="!f.valid" class="btn">Save
                                    </button>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <button mat-raised-button color="warn" (click)="onclickCancle()">CANCEL</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>