<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>

    <div class="image"></div>

    <div class="row">
      <div class="col-md-4">
        <div id="myCarousel" class="carousel slide login_slider" data-ride="carousel">
        <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
      <div class="col-md-8">

        <mat-card>
          <img src="../../../assets/img/Log_in/male.png" class="avatar">
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <h2>Log In</h2>
              <mat-error *ngIf="loginIsInvalid">
                The username and password were not recognised
              </mat-error>
              <mat-form-field class="full-width-input">
                <mat-label style="color:#fff;">Email Id</mat-label>
                <input matInput placeholder="Email" formControlName="username" required>                
                <!-- <mat-error>
                  Please provide a valid email address
                </mat-error> -->
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <mat-label style="color:#fff;">Password</mat-label>
                <input matInput [type]="flag ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
                <mat-icon matSuffix (click)="flag = !flag">{{flag ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error>
                  Please provide a valid password
                </mat-error>
              </mat-form-field>
              <div class="row">
                <div class="col-md-6">
              <button  mat-raised-button style="width:150px;border-radius:5px" color="primary">Login</button>
            </div>
              <div class="atag col-md-6">
                <a mat-raised-button  color="warn" class=".btn-general">Forget Password?</a>
              </div>
            </div>
            </form>
          </mat-card-content>
        </mat-card>

      </div>
       </div>

</body>
</html>
