<br>
<div style="text-align: center;">
  <h1>Select Internship For Reviews</h1>
</div>
<!-- <div style="text-align: center;" *ngIf="!selectionInternship.length">
  <h1 style="text-decoration: underline;">NO INTERNSHIP FOR REVIEW</h1>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of intern_studentData">
      <br>

      <!-- public internship_type_name: string,
      public job_profile_name: string,
      public stipend: number,
      public ctc: number,
      public location_name: string,
      public start_date: Date,
      public internship_type_duration: number -->

      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-title>
            <h4></h4>
          </mat-card-title>

          <br>
          <mat-card-subtitle>
            <label>Type:&nbsp;&nbsp;{{item.internship_type_name}}</label>

          </mat-card-subtitle>

          <mat-card-subtitle>
           <b> <label>Profile:&nbsp;&nbsp;{{item.job_profile_name}}</label></b>

          </mat-card-subtitle>

          <mat-card-subtitle>
            <b> <label>Duration:&nbsp;&nbsp;{{item.internship_type_duration}}</label></b>

           </mat-card-subtitle>

           <mat-card-subtitle>
            <b> <label>Location:&nbsp;&nbsp;{{item.location_name}}</label></b>

           </mat-card-subtitle>

           <mat-card-subtitle>
            <b> <label>Start Data:&nbsp;&nbsp;{{item.start_date | date}}</label></b>

           </mat-card-subtitle>

           <mat-card-subtitle>
            <b> <label>stipend:&nbsp;&nbsp;{{item.stipend}}</label></b>
           </mat-card-subtitle>

           <mat-card-subtitle>
            <b> <label>CTC:&nbsp;&nbsp;{{item.ctc}}</label></b>
           </mat-card-subtitle>




          <button mat-raised-button (click)="onclickAdd(item.internship_id)" color="primary">Select the Internship</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


