<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="wrap">
        <h1>Write a Review</h1>
        <br><br><br>
        <div id="form-wrap">
            <form>
                <p>HELLO BUNNY,</p>
                <label for="title">Title:</label>
                <input type="text" name="title" value="" id="title">

                <label for="description">Description:</label>
                <textarea name="desc" id="desc" value="your message"></textarea>

                <label for="pros">Pros:</label>
                <textarea name="pros" id="pros" value="your internship advantage"></textarea>

                <label for="cons">Cons:</label>
                <textarea name="cons" id="cons" value="your internship disadvantage"></textarea>

                <label>Rating:</label>

                <select style="background-color:darkslategray;width: 15%;color:whitesmoke" id="rating" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <br><br>
                <input type="submit" name="submitBtn" value="Thank you For Your Response!">

            </form>
        </div>
    </div>
</body>

</html>