<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="wrap">
        <h1>Write a Review</h1>
        <br><br><br>
        <div id="form-wrap">
            <form  #f="ngForm" (ngSubmit)="addform(f)">
                <p >HELLO {{student_name}},</p>

                    <label>Title:</label>
                    <input type="text" [(ngModel)]="review_title" name="review_title" #title="ngModel"
                        [class.is-invalid]="title.invalid && title.touched" required>
                    <span *ngIf="title.errors && (title.invalid && title.touched) && title.errors.required"
                        style="color:red;font-size:12px;margin-top:-5px;">Title is required.</span>

                <div>
                    <label>Description:</label>
                    <textarea name="review_description" [(ngModel)]="review_description" #desc="ngModel"
                        [class.is-invalid]="desc.invalid && desc.touched" required></textarea>
                    <span *ngIf="desc.errors && (desc.invalid && desc.touched) && desc.errors.required"
                        style="color:red;font-size:12px;">Desciption is required.</span>
                </div>
                <div>
                    <label for="pros">Pros:</label>
                    <textarea name="pros" [(ngModel)]="pros" #pro="ngModel" ></textarea>
                    <!-- <span *ngIf=" pro.errors && ( pro.invalid &&  pro.touched) &&  pro.errors.required"
                        style="color:red;font-size:12px;">Pros is required.</span> -->
                </div>
                <div>
                    <label for="cons">Cons:</label>
                    <textarea name="cons" [(ngModel)]="cons" #con="ngModel" ></textarea>
                    <!-- <span *ngIf="con.errors && (con.invalid && con.touched) && con.errors.required"
                        style="color:red;font-size:12px;">Cons is required.</span> -->
                </div>
                <div>
                    <label>Rating:</label>
                    <input type="number" [(ngModel)]="rating" name="rating" #rat="ngModel"
                        [class.is-invalid]="rat.invalid && rat.touched" required>
                    <span *ngIf="rat.errors && (rat.invalid && rat.touched) && rat.errors.required"
                        style="color:red;font-size:12px;">Rating is required.</span>
                </div>
                <!-- <div>
                    <label>Review Date:</label>
                    <input type="date" [(ngModel)]="review_date" name="review_date" #date="ngModel"
                        [class.is-invalid]="date.invalid && date.touched" required>
                    <span *ngIf="date.errors && (date.invalid && date.touched) && date.errors.required"
                        style="color:red;font-size:12px;">Date is required.</span>
                </div> -->


                </form>
                <br><br>
                <!-- <input type="submit" name="submitBtn" value="Thank you For Your Response!"> -->
                <button type="submit" [disabled]="f.invalid" (click)="onclickAdd()">Add Review</button>
                <button  (click)="onclickCancel()">Cancel</button>

        </div>

    </div>
</body>

</html>
