<div class="container">
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title">New Faculty</h4>
                          <p class="card-category">New Faculty is being added</p>
                      </div>
                      <div class="card-body">
                          <form class="example-form" (ngSubmit)="onclickAdd()" #f="ngForm">
                              <div class="rows">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Select FacultyContact" ngModel #contact="ngModel" 
                                          [(ngModel)]="faculty_contact_number" name="faculty_contact_number">
                                      <!-- <mat-error *ngIf="contact?.hasError('required')">
                                           is Required
                                      </mat-error> -->
                                  </mat-form-field>
                              </div>
                              <div class="rows">
                                   <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Select FacultyEmail" ngModel #email="ngModel" 
                                          [(ngModel)]="faculty_email_id" name="faculty_email_id">
                                      <!-- <mat-error *ngIf="name?.hasError('required')">
                                          FacultyEmail is Required
                                      </mat-error> -->
                                  </mat-form-field>
                              </div>
                              <div class="rows">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Select FacultyName" ngModel #name="ngModel" 
                                          [(ngModel)]="faculty_name" name="faculty_name">
                                      <!-- <mat-error *ngIf="name?.hasError('required')">
                                          FacultyName is Required
                                      </mat-error> -->
                                  </mat-form-field>
                              </div>

                              <br>
                              <div class="rows">
                                  <button mat-raised-button type="submit"  class="btn">Add
                                      Faculty </button>
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  <button mat-raised-button color="warn" (click)="onclickCancle()">CANCEL</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>