<div class="container">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Edit course</h4>
                            <p class="card-category">Course Details are being updated</p>
                        </div>
                        <div class="card-body">
                            <form class="example-form" (ngSubmit)="onclickSave()" #f="ngForm">
                                
                                <div class="rows">
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Course Id" ngModel #name="ngModel" 
                                           [(ngModel)]="Course_Id" name="Course_Id">
                                       <!-- <mat-error *ngIf="name?.hasError('required')">
                                           Company Name is Required
                                       </mat-error> -->
                                   </mat-form-field>
                               </div>
                                <div class="rows">
                                     <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Course Name" ngModel #name="ngModel" 
                                            [(ngModel)]="Course_Name" name="Course_Name">
                                        <!-- <mat-error *ngIf="name?.hasError('required')">
                                            Company Name is Required
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="rows">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Course Duration" ngModel #strength="ngModel" 
                                            [(ngModel)]="Course_Duration" name="Course_Duration">
                                        <!-- <mat-error *ngIf="strength?.hasError('required')">
                                            Company Url is Required
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="rows">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Course Strength" ngModel #strength="ngModel" 
                                            [(ngModel)]="Course_Strength" name="Course_Strength">
                                        <!-- <mat-error *ngIf="strength?.hasError('required')">
                                            Company Url is Required
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <br>
                                <div class="rows">
                                    <button mat-raised-button type="submit" [disabled]="!f.valid" class="btn">Save
                                     </button>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <button mat-raised-button color="warn" (click)="onclickCancle()">CANCEL</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
