<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>REVIEW SYSTEM</mat-toolbar>
    <mat-nav-list>


      <ul>
        <li>

          <button class="menu_button" mat-raised-button color="primary" [routerLink]="['adminDashboard']"
            routerLinkActive="router-link-active">
            <mat-icon>dashboard</mat-icon>&nbsp;&nbsp;&nbsp;Dashboard
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['internship']" routerLinkActive="router-link-active">
            <i class="material-icons">description</i>&nbsp;&nbsp;&nbsp; Internship Details
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['course']" routerLinkActive="router-link-active">
            <i class="material-icons">post_add</i>&nbsp;&nbsp;&nbsp; Course
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['student']" routerLinkActive="router-link-active">
            <i class="material-icons">person</i>&nbsp;&nbsp;&nbsp; Student
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['jobprofile']" routerLinkActive="router-link-active">
            <i class="material-icons">add_business</i>&nbsp;&nbsp;&nbsp;Job Profile
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['location']" routerLinkActive="router-link-active">
            <i class="material-icons">add_location_alt</i>&nbsp;&nbsp;&nbsp; Location
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['faculty']" routerLinkActive="router-link-active">
            <i class="material-icons">person</i>&nbsp;&nbsp;&nbsp; Faculty
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['company']" routerLinkActive="router-link-active">
            <i class="material-icons">post_add</i>&nbsp;&nbsp;&nbsp; Companies
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['review']" routerLinkActive="router-link-active">
            <i class="material-icons">rate_review</i>&nbsp;&nbsp;&nbsp; Review
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['internshipType']" routerLinkActive="router-link-active">
            <i class="material-icons">description</i>&nbsp;&nbsp;&nbsp; Intenship Type
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button  [routerLink]="['']"routerLinkActive="router-link-active">
            <i class="material-icons">exit_to_app</i>&nbsp;&nbsp;&nbsp; Log out
          </button>
        </li>
      </ul>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>