<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>REVIEW SYSTEM</mat-toolbar>
    <mat-nav-list>


      <ul>
        <li>

          <button class="menu_button" mat-raised-button color="primary" [routerLink]="['../menu']"
            routerLinkActive="router-link-active">
            <mat-icon>dashboard</mat-icon>&nbsp;&nbsp;&nbsp;Dashboard
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['internship']" routerLinkActive="router-link-active">
            <i class="material-icons">person</i>&nbsp;&nbsp;&nbsp; Internship Details
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['course']" routerLinkActive="router-link-active">
            <i class="material-icons">person</i>&nbsp;&nbsp;&nbsp; Course
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['student']" routerLinkActive="router-link-active">
            <i class="material-icons">library_books</i>&nbsp;&nbsp;&nbsp; Student
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['jobprofile']" routerLinkActive="router-link-active">
            <i class="material-icons">library_books</i>&nbsp;&nbsp;&nbsp;Job Profile
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['location']" routerLinkActive="router-link-active">
            <i class="material-icons">library_books</i>&nbsp;&nbsp;&nbsp; Location
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['faculty']" routerLinkActive="router-link-active">
            <i class="material-icons">assignment_turned_in</i>&nbsp;&nbsp;&nbsp; Faculty
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button [routerLink]="['company']" routerLinkActive="router-link-active">
            <i class="material-icons">event</i>&nbsp;&nbsp;&nbsp; Companies
          </button>
        </li>
        <li>
          <button class="menu_button" mat-button routerLinkActive="router-link-active">
            <i class="material-icons">exit_to_app</i>&nbsp;&nbsp;&nbsp; Log out
          </button>
        </li>
      </ul>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>ARHAM EDUCATION</span> -->

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>