<div class="card size">
  <div class="card-header card-header-primary">
    <h2 class="card-title ">Company Details</h2>
    <p class="card-category"> click on header to sort the data</p>
  </div>
  <div class="row">
    <div class="col-md-8">
      <mat-form-field class="example-form">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Company Details"
          class="example-full-width">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="onAddCompany()" class="btn">
        <mat-icon>add</mat-icon> Add Company
      </button>
    </div>
  </div>

  <div class="card-body" *ngIf="!flag">
    <div class="table-responsive">
      <h6>*No Record Found</h6>

    </div>
  </div>

  <div class="card-body" *ngIf="flag">
    <div class="table-responsive">
      <table mat-table [dataSource]="companyDataSource" matSort multiTemplateDataRows>
        <tbody>
          <ng-container matColumnDef="company_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name</th>
            <td mat-cell *matCellDef="let item"> {{item.company_name}} </td>
          </ng-container>
          <ng-container matColumnDef="company_url">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Url</th>
            <td mat-cell *matCellDef="let item"> {{item.company_url}} </td>
          </ng-container>
          
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let item"> 
              <!-- <button mat-mini-fab color="basic" title="Delete Company">
                <mat-icon>delete</mat-icon>
              </button> &nbsp;  -->
              <button mat-mini-fab color="basic" title="Edit Detials" (click)="OnEdit(item.company_id)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
              <td mat-cell *matCellDef=""> 
                 </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!-- <button mat-raised-button color="warn" (click)="Selected_delete()">
        <mat-icon>delete</mat-icon> Delete All
      </button> -->
    </div>

    <div class="col-md-8">
      <mat-paginator [pageSizeOptions]="[3,5,8]">
      </mat-paginator>
    </div>
  </div>
</div>
